.sidebar-container {
  display: flex;
  height: 100vh;
  overflow: scroll initial;
  margin-left: -15px;
  margin-bottom: -9px;
}
.text-decoration-none {
  color: rgb(255, 0, 0);
  padding-right: 10px;
}

.text-decoration-none:hover {
  color: white;
}

.activeClicked:hover {
  color: rgb(255, 95, 95);
}

.menu-item:hover {
  color: red;
}

.sidebar-footer {
  padding: "20px 5px";
}

.fa-fa-bars-fa-large {
  color: red;
}

