video {
  padding-top: 5pt;
  /* height: 50%; */
  width: 100%;
  border: 1px;
  left: 0;
  top: 0;
  /* position: absolute; */
}
video::-webkit-media-controls-timeline,
video::-webkit-media-controls-current-time-display {
    display: none;
}

/* Check if it works */
body{
  background-color: black;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

footer{
  /* width: max-content; */
  position:absolute;
  left:0;
  bottom: 0;
  right:0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.background{
  height: 100%;
  width: 100%;
  background:linear-gradient(rgba(0, 0, 0, 0.8),transparent);
  background-color:rgb(77, 77, 77) /*this your primary color*/
}

h2{
  padding-top: 10pt;
  color: azure;
  text-align: left;
  /* text-indent: 10pt; */
}

.test-box{
  position: relative;
  height: 23.2em;
  width: 100%;
  margin-top: 5pt;
  margin-bottom: 5pt;
  background-color: rgb(101, 101, 101);
  padding: 3%;
  border: px solid snow;
  min-height: auto;
  min-width: none;
  font-size: 1rem;
  /* text color */
  color: rgb(216, 216, 216);
}

.box{
  position: relative;
  width: 100%;
  margin-top: 5pt;
  margin-bottom: 5pt;
  background-color: rgb(101, 101, 101);
  padding: 3%;
  border: px solid snow;
  min-height: auto;
  min-width: none;
  font-size: 1rem;
  /* text color */
  color: rgb(216, 216, 216);
}

.text-box{
  position: relative;
  width: 100%;
  margin-top: 5pt;
  margin-bottom: 5pt;
  background-color: rgb(101, 101, 101);
  padding: 4%;
  border: px solid snow;
  min-height: auto;
  min-width: none;
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  /* text color */
  color: rgb(216, 216, 216);
}

/*this is for the description section of the web page*/
.RTTMDescription{
  font-size:13pt;
  
}
.section{
  background-color: black;
}
