/* Check if it works */
/* Basic setup and layout */
body {
  background-color: black;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Header style */
header {
  background-color: #43404F;  /* Dark gray color */
  padding: 10px 0;
  text-align: center;
  color: white;
  font-size: 24px;  /* Large text for the logo */
}

/* Footer style */
footer {
  background-color: rgb(37, 37, 37);  /* Dark gray color */
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 5px 0;
  text-align: center;
  color: white;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.background{
  height: 100%;
  width: 100%;
  background:linear-gradient(rgba(0, 0, 0, 0.d),transparent);
  background-color:#565264 /*this your primary color*/
}

/* This box below has width that reaches the entire div but its height is based on the content */
.box{
  position: relative;
  width: 100%;
  margin-top: 5pt;
  margin-bottom: 5pt;
  background-color: rgb(128, 128, 128);
  padding: 2pt;
  border: px solid snow;
  min-height: auto;
  min-width: none;
  font-size: 1rem;
  /* text color */
  color: rgb(255, 255, 255);
  /* Box border and background shadow */
  border-radius: 5px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
  
}

/* This below has a defined dimension which is why the text is fully covered with space */
.text-box{
  position: relative;
  height: 23.2em;
  text-align: center;
  width: 100%;
  margin-top: 5pt;
  margin-bottom: 5pt;
  background-color: rgb(101, 101, 101);
  padding: 4%;
  border: px solid snow;
  min-height: auto;
  min-width: none;
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  /* text color */
  color: rgb(216, 216, 216);
}

/*this is for the description section of the web page*/
.RTTMDescription{
  font-size:13pt;
  
}
.section{
  background-color: black;
}
.welcome{
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding-top: 10pt;
  padding-bottom: 3pt;
  color: rgb(248, 248, 248);
}

/* This will get moved somewhere else. For now this is only for testing purposes */
.camText {
  color: snow;
  text-align: center;
  display: block;
  margin: 20px auto; /* Added 20px top margin to push down from the nav bar */
  width: 100%;
}



.camera-container {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically if needed */
  height: 100%; /* Take the full height of the parent or adjust as necessary */
}

.camera-button {
  background: linear-gradient(to right, #56CCF2, #2F80ED); /* Blue gradient */
  color: white; /* Text color */
  padding: 5px 10px; /* Smaller padding */
  border: none; /* No border */
  border-radius: 5px; /* Rounded corners */
  font-weight: bold; /* Bold font */
  font-size: 0.8rem; /* Smaller font size */
  cursor: pointer; /* Pointer cursor on hover */
  transition: transform 0.2s ease-in-out; /* Smooth scaling transition */
  margin: 0 5px; /* Adds margin around buttons */
}

.camera-button:hover {
  transform: scale(0.95); /* Scales down the button a bit when hovered over */
}


.gradient-label {
  background: linear-gradient(to right, #d22030, #565264); /* Gradient background */
  color: white; /* Text color */
  padding: 1px 10px; /* Vertical padding is 1px, horizontal padding is 10px */
  border-radius: 5px; /* Rounded corners */
  display: inline-block; /* Ensures padding and border-radius are applied */
  width: auto; /* Adjust width as needed, auto means it will wrap the content */
  /* If you want a fixed width, you can set a specific value like width: 50%; */
  text-align: center; /* Center the text within the gradient bar */
}

/* index.css or any other global stylesheet */

.echarts-container {
  height: 300px; /* Set the height you want for all charts */
  width: 300px;  /* Set the width you want for all charts */
  /* Add any other styles you want to apply globally */
}

.overlay {
  background-color: rgba(0, 0, 0, 0.90);
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0%;
  top: 0%;
  bottom: 0%;
  z-index: 2;
}

.modalContainer {
  max-width: 400px;
  min-width: 400px;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  flex-direction: column;
  background-color: #28262f;
  box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  font-size: 16px;
  display: inline-flex;
	justify-content: center;
  padding-top: 0%;
	color: white;
	margin-top: 0%;
  margin-bottom: 0%;
  padding-top: 14px;
  padding-bottom: 0px;
  align-items: center;
}

.modalRight {
  width: 100%;
}

.modalFields {
  display: inline-flex;
	width: 100%;
	margin-top: 1px;
	padding-right: 10px;
	padding-left: 10px;
	font-size: 15px;
	line-height: 15px;
	color: #dfdfdf;
	background: #312f39;
  border: 1px solid #727171;
  border-radius: 3px;
  z-index: 1;
}

.modalBtn {
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 10px;
  width: 220px;
  height: 45px;
  border: 1px solid #312f32;
  background: linear-gradient(0deg, rgba(85, 65, 85, 0.571) 0%, rgba(139, 128, 147, 0.867) 100%);
  color: rgb(230, 230, 230);
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  display: grid;
  font-size: 15px;
  margin: 7px;
  cursor: pointer;
  position: relative;
  z-index: 1;
  border-radius: 5px;
  box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.4);
}

.modalBtn:hover {
  background: linear-gradient(0deg, rgba(234, 234, 234, 0.719) 0%, rgb(247, 247, 247) 100%);
  color: rgb(23, 23, 23);
}

.modalcloseBtn {
  position: fixed;
  font-size: 16px;
  top: 12px;
  right: 12px;
  color:rgb(255, 69, 1);
  cursor: pointer;
}
