.Table-Wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.all{
  height:40svw;
  width: 100%;
}

table {
  margin: 0 auto;
  border-collapse: collapse;
  border:hidden;
  width: 100%;
  max-width: 100%;
  color: #c6c6c6;
  text-align: center;
  background-color: #222;
  border-radius: 10px;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.5);
  margin-top: 2rem;
}

th {
  padding: 2rem;
  color: #fff;
  background-color: #5A5A5A;
  border:none;
  font-size: 2.3rem;
  font-weight: 500;
  letter-spacing: 1px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.header-row{
  background-color: #5A5A5A;
  font-size: 72px;
  border: hidden;
}

tbody tr:hover {
  background-color: #ff00005b;
}

td {
  border:none; 
  padding: 1.5rem 2rem;
  color: #fafafa;
  font-size: 2.2rem;
  font-weight: 300;
  font-family: "Open Sans", sans-serif;
}

tr:not(:last-child) td {
  border-bottom: 1px solid #5A5A5A; /* Add a bottom border to all cells except the last one in each row */
}

.modal-content {
  background-color: #333;
  color: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
}

.modal-header {
  border-bottom: none;
}

.modal-title {
  font-size: 2.5rem;
  font-weight: 500;
  color: #fff;
  font-family: "Montserrat", sans-serif;
}

.modal-body p {
  font-size: 1.6rem;
  font-weight: 300;
  color: #fff;
  font-family: "Open Sans", sans-serif;
}

.modal-footer button {
  font-size: 1.4rem;
  font-weight: 500;
  color: #fff;
  background-color: #555;
  border: none;
  border-radius: 200px;
  padding: 1.2rem 2.5rem;
  letter-spacing: 1px;
  font-family: "Montserrat", sans-serif;
}

.modal-footer button:hover {
  background-color: #ff00005b;
}

.checkbox-large{
  width: 30px;
  height: 30px;
}

.page-title{
  text-align: center;
  padding-top: 20px;
}