nav {
  position: absolute;
  align-items: center;
  height: 34pt; /* Adjusted height */
  max-width: 100%;
}

.nav-item {
  padding: 1pt;
}

.nav-link.active {
  background-color: rgb(232, 232, 232);
  border-radius: 9px;
  color: green;
}

.nav-link {
  color: rgb(255, 255, 255);
  border-radius: 9px;
  font-size: 15pt;
  font-weight: 500;
  white-space: nowrap;
  margin-left: 30px; /* This will add space to the left of each nav item */
  margin-right: 30px; /* This will add space to the right of each nav item */
}

.nav-link:hover {
  color: #D22030;
}

.logo {
  padding-top: 4px;
  color: #D22030;
  font-weight: bold;
  font-family: Geneva, Tahoma, sans-serif;
}

.div-header {
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  background-color: #091e05; /* Ensure this matches nav's background */
}

/* Ensure no element inside .div-header has a different background */
.div-header * {
  background-color: inherit;
}

.user_button {
  background: rgba(10, 0, 0, 0.25); /* Transparent Background */
  color: rgb(231, 231, 231);
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  text-wrap: balance;
  font-size: 16px;
  font-weight: 500;
  border-radius: 5px;
  margin: 2px 0px 0px 0px;
  transition-duration: 0.2s;
  cursor: pointer;
  white-space: nowrap;
}

.user_button.active {
  background-color: rgb(232, 232, 232);
  border-radius: 5px;
  color: rgb(30, 30, 30);
}

.user_button:hover {
  background-color: #e7e7e7;
  color: black;
}