*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	margin: 0;
	background: #565264;
}

.forms-section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.section-title {
  margin: 35px;
	font-size: 23px;
	letter-spacing: 1px;
	color: #fff;
}

.forms {
	display: flex;
	align-items: flex-start;
	margin-top: 25px;
}

.form-wrapper {
	animation: hideLayer .3s ease-out forwards;
}

.form-wrapper.is-active {
	animation: showLayer .3s ease-in forwards;
}

@keyframes showLayer {
	50% {
		z-index: 1;
	}
	100% {
		z-index: 1;
	}
}

@keyframes hideLayer {
	0% {
		z-index: 1;
	}
	49.999% {
		z-index: 1;
	}
}

.switcher {
	position: relative;
	cursor: pointer;
	display: block;
	margin-right: auto;
	margin-left: auto;
	padding: 0;
	text-transform: uppercase;
	font-family: inherit;
	font-size: 16px;
	letter-spacing: .5px;
	color: #999;
	background-color: transparent;
	border: none;
	outline: none;
	transform: translateX(0);
	transition: all .3s ease-out;
}

.form-wrapper.is-active .switcher-login {
	color: #fff;
	transform: translateX(90px);
}

.form-wrapper.is-active .switcher-signup {
	color: #fff;
	transform: translateX(-90px);
}

.underline {
	position: absolute;
	bottom: -5px;
	left: 0;
	overflow: hidden;
	pointer-events: none;
	width: 100%;
	height: 2px;
}

.underline::before {
	content: '';
	position: absolute;
	top: 0;
	left: inherit;
	display: block;
	width: inherit;
	height: inherit;
	background-color: currentColor;
	transition: transform .2s ease-out;
}

.switcher-login .underline::before {
	transform: translateX(101%);
}

.switcher-login:hover {
	background-color: transparent;
}

.switcher-signup .underline::before {
	transform: translateX(-101%);
}

.form-wrapper.is-active .underline::before {
	transform: translateX(0);
}

.switcher-signup:hover {
	background-color: transparent;
}


.form {
	overflow: hidden;
	min-width: 280px;
	margin-top: 50px;
	padding: 30px 25px;
    border-radius: 5px;
	transform-origin: top;
}

.form-login {
	animation: hideLogin .3s ease-out forwards;
}

.form-wrapper.is-active .form-login {
	animation: showLogin .3s ease-in forwards;
}

@keyframes showLogin {
	0% {
		background: #43404e;
		transform: translate(40%, 10px);
	}
	50% {
		transform: translate(0, 0);
	}
	100% {
		background-color: #43404e;
		transform: translate(35%, -8px);
	}
}

@keyframes hideLogin {
	0% {
		background-color: #3b3942;
		transform: translate(35%, -20px);
	}
	50% {
		transform: translate(0, 0);
	}
	100% {
		background: #3b3942;
		transform: translate(40%, 10px);
	}
}

.form-signup {
	animation: hideSignup .3s ease-out forwards;
}

.form-wrapper.is-active .form-signup {
	animation: showSignup .3s ease-in forwards;
}

@keyframes showSignup {
	0% {
		background: #43404e;
		transform: translate(-40%, 10px) scaleY(.8);
	}
	50% {
		transform: translate(0, 0) scaleY(.8);
	}
	100% {
		background-color: #43404e;
		transform: translate(-35%, -15px) scaleY(1);
	}
}

@keyframes hideSignup {
	0% {
		background-color: #3b3942;
		transform: translate(-35%, -20px) scaleY(1);
	}
	50% {
		transform: translate(0, 0) scaleY(.8);
	}
	100% {
		background: #3b3942;
		transform: translate(-40%, 10px) scaleY(.8);
	}
}

.form fieldset {
	position: relative;
	opacity: 0;
	margin: 0;
	padding: 0;
	border: 0;
	transition: all .3s ease-out;
}

.form-login fieldset {
	transform: translateX(-50%);
}

.form-signup fieldset {
	transform: translateX(50%);
}

.form-wrapper.is-active fieldset {
	opacity: 1;
	transform: translateX(0);
	transition: opacity .4s ease-in, transform .35s ease-in;
}

.form legend {
	position: absolute;
	overflow: hidden;
	width: 1px;
	height: 1px;
	clip: rect(0 0 0 0);
}

.input-block {
	margin-bottom: 20px;
}

input::-ms-reveal {
	filter: invert(100%);
	visibility: visible;
}

.input-block label {
	font-size: 14px;
  color: #e8e8e8;
}

.input-block input {
	display: block;
	width: 100%;
	margin-top: 5px;
	padding-right: 15px;
	padding-left: 15px;
	font-size: 15px;
	line-height: 19px;
	color: #dfdfdf;
	background: #43404e;
  border: 1px solid #8f8f8f;
  border-radius: 3px;
}

.form [type='submit'] {
	opacity: 0;
	display: block;
	min-width: 120px;
  width:  160px;
	margin: 30px auto 10px;
	font-size: 17px;
	line-height: 25px;
	border-radius: 5px;
	border: none;
	transition: all .3s ease-out;
}

.form-wrapper.is-active .form [type='submit'] {
	opacity: 1;
	transform: translateX(0);
	transition: all .4s ease-in;
}

.btn-login {
	color: #fbfdff;
  background: linear-gradient(0deg, rgba(90, 105, 137, 0.778) 0%, rgba(129, 148, 162, 0.888) 100%);
	transform: translateX(-30%);
}

.btn-login:hover {
	background: linear-gradient(0deg, rgba(129, 143, 171, 0.778) 0%, rgba(153, 172, 185, 0.888) 100%);
}

.btn-signup {
	color: #050505;
  background: linear-gradient(0deg, rgb(169, 123, 7) 0%, rgb(243, 207, 3) 100%);
	transform: translateX(30%);
	font-weight: 400;
}

.btn-signup:hover {
	background: linear-gradient(0deg, rgb(193, 141, 9) 0%, rgb(255, 217, 0) 100%);
}

.btn-forgotPassword {
	background-color: transparent;
	color:#dfdfdf;
}

.btn-forgotPassword:hover {
	background-color: transparent;
	color: rgb(255, 184, 71);	
}
