.video-box{
    position: relative;
    height: 24.2em;
    text-align: center;
    width: 100%;
    margin-top: 5pt;
    margin-bottom: 5pt;
    background-color: rgb(128, 128, 128);
    min-height: auto;
    min-width: none;
    padding: 2pt;
    /* text color */
    color: rgb(216, 216, 216);
  }