h1 {
    color: aliceblue;
  }
  
  .tableWrapper {
    width: 100%;
    max-height: 500px; /* Changed to max-height for better responsiveness */
    overflow: auto;
  }
  
  .tableHead {
    font-size: medium;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  .tableCell {
    font-size: medium;
  }
  
  .file-select {
    width: 400px; /* Set the desired width */
  }
  
  label {
    color: aliceblue;
  }
  
  .GeneralSection {
    padding: 20pt;
  }
  
  .averageSpeedTable {
    width: 100%; /* Changed to 100% for better responsiveness */
    max-height: 200pt; /* Increased max-height for more visible content */
    overflow-x: auto; /* Changed to auto for horizontal scrolling only when needed */
  }
  
  .fileInput {
    background-color: snow;
  }
  
  .output {
    overflow: auto; /* Changed to auto for scrolling only when needed */
    margin: 1rem 0;
    max-height: 200px; /* Changed to max-height for better responsiveness */
  }

  .GeneralSection {
    height: 100vh;
    overflow-y: auto;
  }
  
  .chart-container {
    height: 300px; /* Adjust the height to match the DensityHist component */
    overflow-y: auto; /* Enable vertical scrolling */
  }